.body {
  background-color: #333333;
}
.login-box{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  margin: 10px auto;
  width: 400px;
  height: 260px;
  background-color: #fff;
  backdrop-filter: blur(12px);
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
.lb-header{
  position:relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
  font-family: 'Lato', sans-serif;
}
.lb-header a{
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #1f1e33;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.lb-header .active{
  color: #201c4f;
  font-size: 18px;
}

.student-login, .teacher-login{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  margin-top: 20px;
  text-align:center;
}
.u-form-group{
  width:100%;
  margin-bottom: 10px;
}
.u-form-group  /deep/.el-input__inner[type="text"],
.u-form-group  /deep/.el-input__inner[type="password"]{
  width: calc(50% - 22px);
  height:45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:0.8rem;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;

  font-family: 'Lato', sans-serif;
}


/deep/.u-form-group .el-input__inner:focus{
  border-color: #1f1e33 !important;
}
.u-form-group button{
  width: 90px;
  background-color: #1f1e33;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;

  font-family: 'Lato', sans-serif;
}


.login-error {
  color: palevioletred;
  margin-top: 3px;
}


/deep/ .el-form-item__error {
  color: #F56C6C;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  top: 20%;
  left: 0;
}
